/*
  light pink #FFB0B2
  background blue: #97d8ff
*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  position: relative;
  top:50%;
  transform: translateY(-50%);
  margin: 0;
}

.results-wrapper {
}

.form-wrapper {
  padding: 5%;
  /*padding-top: 5%;*/
}

.submit-button {
  padding: 1em;
  border-radius: 14px;
  background-color: #FFB0B2;
  font-weight: bold;
  font-size: 18px;
}

#numberInput {
      display: block;
    margin: 1em auto;
    padding: 1em;
    border-radius: 6px;
    box-shadow: none;
    font-size: 18px;
    text-align: center;
}